<h1>Listing Tickets</h1>

<table cellpadding="5">
  <tr>
    <th align="center">Title&nbsp;&nbsp;</th>
<!--    <th>Name</th>
    <th>Phone</th>
    <th>Email</th> -->
    <th align="center">Description</th>
  </tr></table>
<table>
<% @tickets.each do |ticket| %>
  <tr>
    <td width: 62px"><%=h ticket.title %></td>
<!--    <td><%=h ticket.name %></td>
    <td><%=h ticket.phone %></td>
    <td><%=h ticket.email %></td> -->
    <td align="center">&nbsp;&nbsp;&nbsp;&nbsp;<%=h ticket.description %></td>
    <td align="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'View', ticket %></td>
    <% if current_user.role =="admin"  %>  
    <td align="center"><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
    <td align="center"><%= link_to 'Delete', ticket, :confirm => 'Are you sure?', :method => :delete %>  </td>
<% end %>
  </tr>

</table>
<% end %>
<br />

<%= link_to 'New ticket', new_ticket_path %>
